<%= form_for(@user_company) do |f| %>

<%= f.hidden_field :company_id %>

<h1> How many years were you with <%= @company.name%>?
    <div class="field">
        <%= f.label :year %><br />
        <%= f.select :year, (0..5) %>
    </div>


<br>
<br>
    <div class="actions">
        <%= f.submit "Submit Employment" %>
    </div>
<% end %>

    <% if @user_company.errors.any? %>
        <div class ="field_with_errors">
        <ul class="Submission_Errors">
        <% for message_error in @user_company.errors.full_messages %>
        <li>* <%= message_error %></li>
    <% end %>
    <% end %>
   
